{{- define "body" }}
{{- $interface := get . "Interface" }}
{{- $method := get . "Method" }}
{{- $namedInputArgs := $method.InputArgs | autoname "input" }}
{{- $namedInputArgsNoCtx := FieldsNoContext $namedInputArgs }}
{{- $inputDeclarations := FieldDeclarations $namedInputArgsNoCtx }}
{{- $inputNameList := FieldNames $namedInputArgs | join ", " }}
{{- $inputNameObjList := FieldNames $namedInputArgsNoCtx | upperfirst | prefix "obj." | join ", "}}
{{- $namedOutputArgs := $method.OutputArgs | autoname "output" }}
{{- $outputDeclarations := FieldDeclarations $namedOutputArgs }}
{{- $outputNameList := FieldNames $namedOutputArgs | join ", " }}
{{- $outputErrField := FieldsFirstError $namedOutputArgs }}
type {{$method.Name}}Request struct {
  {{- range $inputDeclarations }}
  {{ . | upperfirst | autotag }}
  {{- end }}
}

type {{$method.Name}}Response struct {
  {{- range $outputDeclarations }}
  {{ . | upperfirst | autotag }}
  {{- end }}
}

func Make{{$method.Name}}Response({{$outputDeclarations | join ", " }}) {{$method.Name}}Response {
  var result {{$method.Name}}Response
  {{- range $namedOutputArgs }}
  result.{{.Name | upperfirst }} = {{.Name}}
  {{- end}}

  return result
}

func Make{{$method.Name}}Endpoint(svc {{$interface.Name}}) endpoint.Endpoint {
  return func(ctx context.Context, request interface{}) (interface{}, error) {
    {{- if $inputNameObjList }}
    obj := request.({{$method.Name}}Request)
    {{$outputNameList}} := svc.{{$method.Name}}(ctx, {{$inputNameObjList}})
    {{- else }}
    {{$outputNameList}} := svc.{{$method.Name}}(ctx)
    {{- end }}
    {{- if $outputErrField }}
    return Make{{$method.Name}}Response({{$outputNameList}}), {{$outputErrField.Name}}
    {{- else }}
    return Make{{$method.Name}}Response({{$outputNameList}}), nil
    {{- end}}
  }
}
{{end }}
