{{- define "footer" }}
{{- $interface := get . "Interface" }}

{{/*func StartHTTPServer() error {*/}}
{{/*  svc, err := domain.NewBeverageService()*/}}
{{/*  if err != nil {*/}}
{{/*    return err*/}}
{{/*  }*/}}
{{/*  svc = loggingMiddleware{log.NewJSONLogger(os.Stdout), svc}*/}}
{{/*  findAllBeersHandler := httptransport.NewServer(*/}}
{{/*    MakeFindAllBeersEndpoint(svc),*/}}
{{/*    DecodeFindAllBeersRequest,*/}}
{{/*    EncodeResponse,*/}}
{{/*  )*/}}

{{/*  http.Handle("/beers", findAllBeersHandler)*/}}
{{/*  http.ListenAndServe(":8080", nil)*/}}

{{/*  return nil*/}}
{{/*}*/}}

func New{{ $interface.Name }}Service() ({{ $interface.Name }}, error) {
  svc, err := New{{$interface.Name}}()
  if err != nil {
    return nil, err
  }
}

func New{{ $interface.Name }}Router() (*Router, error) {

}

{{- end }}
