{{- define "footer" }}
{{- $interface := . }}

func New{{ $interface.Name }}HttpHandler(svc {{ $interface.Name }}) (http.Handler, error) {

	router := mux.NewRouter()

	{{- range $interface.Methods }}
	{{- $method := . }}
  {{- $restOperation := $method | annotation "RestOperation" }}

	{{ $method.Name }}Handler := httptransport.NewServer(
		Make{{ $method.Name | upperfirst }}Endpoint(svc),
		Decode{{ $method.Name | upperfirst }}Request,
		Encode{{ $method.Name | upperfirst }}Response,
	)
	router.Handle("{{ $restOperation | attribute "path" }}", {{ $method.Name }}Handler).
		Methods("{{ $restOperation | attribute "method" }}")

	{{- end }}

	return router, nil
}

{{- end }}
