{{- define "header" }}
{{- $interface := . }}
{{- HeaderComment }}
package {{ $interface.PackageName }}

import (
	"context"
	"encoding/json"
	"io"
	"net/http"

	httptransport "github.com/go-kit/kit/transport/http"

	"github.com/gorilla/mux"
	"github.com/tartale/go/pkg/strconv"
)
{{- end }}
