{{- define "footer" }}

{{/*func EncodeResponse(_ context.Context, w http.ResponseWriter, response interface{}) error {*/}}
{{/*  return json.NewEncoder(w).Encode(response)*/}}
{{/*}*/}}

{{/*func StartHTTPServer() error {*/}}
{{/*  svc, err := domain.NewBeverageService()*/}}
{{/*  if err != nil {*/}}
{{/*    return err*/}}
{{/*  }*/}}
{{/*  svc = loggingMiddleware{log.NewJSONLogger(os.Stdout), svc}*/}}
{{/*  findAllBeersHandler := httptransport.NewServer(*/}}
{{/*    MakeFindAllBeersEndpoint(svc),*/}}
{{/*    DecodeFindAllBeersRequest,*/}}
{{/*    EncodeResponse,*/}}
{{/*  )*/}}

{{/*  http.Handle("/beers", findAllBeersHandler)*/}}
{{/*  http.ListenAndServe(":8080", nil)*/}}

{{/*  return nil*/}}
{{/*}*/}}

{{- end }}
