{{- define "body"}}
{{- $method := get . "Method" }}
{{- $middlewareName := get . "MiddlewareName" }}
{{- $namedInputArgs := $method.InputArgs | autoname "input" }}
{{- $inputNameList := FieldNames $namedInputArgs | join ", " }}
{{- $namedOutputArgs := $method.OutputArgs | autoname "output" }}
{{- $outputNameList := FieldNames $namedOutputArgs | join ", " }}
func (mw {{$middlewareName}}) {{MethodSignature $method}} {

  defer func(begin time.Time) {
		_ = mw.Logger.Log(
			"method", "{{$method.Name}}",
			"output", fmt.Sprintf("%v", []interface{}{ {{$outputNameList}} }),
			"took", time.Since(begin),
		)
	}(time.Now())

	{{$outputNameList}} = mw.Next.{{$method.Name}}({{$inputNameList}})

	return
}
{{ end }}
