{{- $interface := .Interface }}
{{- $generateHeader := true }}
{{- $middlewareName := (print $interface.Name "LoggingMiddleware") }}
{{- range $interface.Methods }}
{{-     $method := . }}
{{-     $shouldGenerate := ShouldGenerateLogging $interface $method }}
{{-     if $shouldGenerate }}
{{-       if $generateHeader }}
{{-         template "header" (dict "Interface" $interface "MiddlewareName" $middlewareName) }}
{{-         $generateHeader = false }}
{{-       end }}
{{-       template "body" (dict "Method" $method "MiddlewareName" $middlewareName) }}
{{-     end }}
{{- end }}
