{{- define "header"}}
{{- $interface := get . "Interface" }}
{{- $middlewareName := get . "MiddlewareName" }}
{{- HeaderComment }}
package {{ $interface.PackageName }}

import (
  "context"
  "fmt"
  "time"

  "github.com/go-kit/kit/log"
)

type {{$middlewareName}} struct {
  logger log.Logger
  next   {{$interface.Name}}
}
{{ end }}
